<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2008-10-18-how-i-turned-down-300k.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.32862997</real>
				<key>lastModification</key>
				<real>601890181.32862997</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>2008-10-27-looking-back-on-selling-gravatar-to-automattic.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.32926702</real>
				<key>lastModification</key>
				<real>601890181.32926702</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2008-11-03-how-to-meet-your-next-cofounder.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.27726305</real>
				<key>lastModification</key>
				<real>601890181.27726305</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2008-11-17-blogging-like-a-hacker.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.27671194</real>
				<key>lastModification</key>
				<real>601890181.27671194</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2009-05-19-the-git-parable.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.38449502</real>
				<key>lastModification</key>
				<real>601890181.38449502</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>2010-05-11-tomdoc-reasonable-ruby-documentation.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.15421903</real>
				<key>lastModification</key>
				<real>601890181.15421903</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2010-08-23-readme-driven-development.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.27615404</real>
				<key>lastModification</key>
				<real>601890181.27615404</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2010-10-18-optimize-for-happiness.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.32991099</real>
				<key>lastModification</key>
				<real>601890181.32991099</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>2010-12-11-designer-architect-developer.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.48328996</real>
				<key>lastModification</key>
				<real>601890181.48328996</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>2011-03-29-ten-lessons-from-githubs-first-year.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.08343601</real>
				<key>lastModification</key>
				<real>601890181.08343601</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2011-05-03-rejected-bio-from-the-setup.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.062976</real>
				<key>lastModification</key>
				<real>601890181.062976</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2011-11-22-open-source-everything.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.153548</real>
				<key>lastModification</key>
				<real>601890181.153548</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>2014-04-21-farewell-github-hello-immersive-computing.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.22509098</real>
				<key>lastModification</key>
				<real>601890181.22509098</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2015-06-19-replicated.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.38398898</real>
				<key>lastModification</key>
				<real>601890181.38398898</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2016-11-10-snyk.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.22572994</real>
				<key>lastModification</key>
				<real>601890181.22572994</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2020-01-17-Winter-in-Shanghai.md</key>
			<dict>
				<key>lastModification</key>
				<real>601890159.42454803</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>2020-01-28-first-article.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>601890181.08410299</real>
				<key>lastModification</key>
				<real>601890181.08410299</real>
				<key>version</key>
				<dict>
					<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2020-01-17-Winter-in-Shanghai.md</string>
		</array>
		<array>
			<string>2020-01-28-first-article.md</string>
		</array>
		<array>
			<string>2011-05-03-rejected-bio-from-the-setup.md</string>
		</array>
		<array>
			<string>2011-03-29-ten-lessons-from-githubs-first-year.md</string>
		</array>
		<array>
			<string>2010-05-11-tomdoc-reasonable-ruby-documentation.md</string>
		</array>
		<array>
			<string>2011-11-22-open-source-everything.md</string>
		</array>
		<array>
			<string>2014-04-21-farewell-github-hello-immersive-computing.md</string>
		</array>
		<array>
			<string>2016-11-10-snyk.md</string>
		</array>
		<array>
			<string>2010-08-23-readme-driven-development.md</string>
		</array>
		<array>
			<string>2008-11-17-blogging-like-a-hacker.md</string>
		</array>
		<array>
			<string>2008-11-03-how-to-meet-your-next-cofounder.md</string>
		</array>
		<array>
			<string>2010-10-18-optimize-for-happiness.md</string>
		</array>
		<array>
			<string>2008-10-18-how-i-turned-down-300k.md</string>
		</array>
		<array>
			<string>2008-10-27-looking-back-on-selling-gravatar-to-automattic.md</string>
		</array>
		<array>
			<string>2009-05-19-the-git-parable.md</string>
		</array>
		<array>
			<string>2015-06-19-replicated.md</string>
		</array>
		<array>
			<string>2010-12-11-designer-architect-developer.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
			<integer>22</integer>
		</dict>
	</dict>
</dict>
</plist>
